{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="static/style_01.css">
    <style>

    </style>
</head>
<body>
  <div class = 'wrapper'>
        <div class=  'box_left ob'>
             <img src = 'static/img/photo_for_site/photo_s_001.jpg'>;

        </div>
        <div class = 'box_head ob'>
            <div class = "leable">Лейбла</div>
            <div class = 'but'>
                <div class="dropdown">
                <button class="dropbtn ob_btn"> Портфолио </button>
                    <div class="dropdown-content">
                        <a href="#"><button>Свадьбы</button></a>
                        <a href="#"><button>LoveStory</button></a>
                        <a href="#"><button>Портреты</button></a>
                    </div>
                </div>

                <button class = 'about_me ob_btn'  onclick= "location.href = '/about'">Обо мне</button>
                <button class = 'price ob_btn' onclick= "location.href = '/price'">Стоимость</button>
                <button class = 'contacts ob_btn'>Контакты</button>

            </div>
        </div>
        <div class = 'box_main ob'>
            <input type="radio" name="position" checked />
            <input type="radio" name="position" />
            <input type="radio" name="position" />
            <input type="radio" name="position" />
            <input type="radio" name="position" />
            <main id="carousel">
                <div class="item"><img src = 'static/img/photo_for_site/photo_s_003.1.jpg'></div>
                <div class="item"><img src = 'static/img/photo_for_site/photo_s_003.2.jpg'></div>
                <div class="item"><img src = 'static/img/photo_for_site/photo_s_003.3.jpg'></div>
                <div class="item"><img src = 'static/img/photo_for_site/photo_s_003.4.jpg'></div>
                <div class="item"><img src = 'static/img/photo_for_site/photo_s_003.5.jpg'></div>
            </main>
        </div>
        <div class = 'box_under ob'>box_under</div>

  </div>

</body>
</html>